.App{
  padding: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.flex{
  display: flex;
}

input{
  padding: 1rem;
  border: 1px solid #929a9d;
  border-radius: 5px;
  width: 5rem;
  color: #414546;
  text-transform: uppercase;
  transition: border 0.1s;
}
input:hover{
  border: 1px solid #657378;
  transition: border 0.1s;
}
input:focus{
  border: 1px solid #657378;
  outline: 2px solid #f25258;
}
input::placeholder{
  color: #929a9d;
  text-transform: none;
}
input:disabled{
  background-color: #d0e0e6;
}

.topMenu{
  width: 800px;
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

p{
  font-weight: 600;
  color: #8a9ca4;
}

button{
  background-color: #899da4 ;
  color: #fff;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  padding: 1rem 1.5rem;
  transition: background-color 0.1s;
  cursor: pointer;
}
button:hover{
  transition: background-color 0.1s;
  background-color: #657378 ;
}

.live{
  color: #333333;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline;
}
.red{
  display: inline-block;
  background-color: #f25258;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}

.code{
  color: #333333;
  display: inline;
  padding: 1rem 3rem;
  border: 1px solid #657378;
  border-radius: 5px;
}

.center{
  align-items: center;
  display: flex;
  flex-direction: column;
}


.grid-container {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
  border: 1px solid #444;
  border-radius: 10px;
  overflow: hidden;
}

.grid-item {
  width: 80px;
  height: 50px;
  border: 1px solid #444;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock{
  display: flex;
  width: 80px;
  height: 80px;
  background-size: 80px;
  background-image: url('../public/clock.svg');
  justify-content: center;
  align-items: center;
}


@keyframes spinning {
  0% { transform: rotate(0deg)translateY(-0.5rem); }
  100% {transform: rotate(360deg)translateY(-0.5rem);}
}

.pointer{
  background-image: url('../public/pointer.svg');
  width: 10px;
  height: 23.4px;
  background-size: 10px;
  transform: translateY(-10px);
  transform-origin: 5px 13.3px;
  background-repeat: no-repeat;
}

.animate{
  animation: spinning 2s linear infinite;
}
